<h1>Colors</h1>
<div id="map" class="board-map grid place-content-center" style="grid-template-columns: repeat(10, 1fr); grid-template-rows: repeat(11, 50px)">
  <div class="field text-brown-700 text-center"><span>brown</span></div>
  <div class="field text-almond-700 text-center">almond</div>
  <div class="field text-copperfield-700 text-center">copperfield</div>
  <div class="field text-olive-700 text-center">olive</div>
  <div class="field text-grass-700 text-center">grass</div>
  <div class="field text-mustard-700 text-center">mustard</div>
  <div class="field text-steelblue-700 text-center">steelblue</div>
  <div class="field text-blood-700 text-center">blood</div>
  <div class="field text-marine-700 text-center">marine</div>
  <div class="field text-forest-700 text-center">forest</div>

  <div class="field bg-brown-50"></div>
  <div class="field bg-almond-50"></div>
  <div class="field bg-copperfield-50"></div>
  <div class="field bg-olive-50"></div>
  <div class="field bg-grass-50"></div>
  <div class="field bg-mustard-50"></div>
  <div class="field bg-steelblue-50"></div>
  <div class="field bg-blood-50"></div>
  <div class="field bg-marine-50"></div>
  <div class="field bg-forest-50"></div>

  <div class="field bg-brown-100"></div>
  <div class="field bg-almond-100"></div>
  <div class="field bg-copperfield-100"></div>
  <div class="field bg-olive-100"></div>
  <div class="field bg-grass-100"></div>
  <div class="field bg-mustard-100"></div>
  <div class="field bg-steelblue-100"></div>
  <div class="field bg-blood-100"></div>
  <div class="field bg-marine-100"></div>
  <div class="field bg-forest-100"></div>

  <div class="field bg-brown-200"></div>
  <div class="field bg-almond-200"></div>
  <div class="field bg-copperfield-200"></div>
  <div class="field bg-olive-200"></div>
  <div class="field bg-grass-200"></div>
  <div class="field bg-mustard-200"></div>
  <div class="field bg-steelblue-200"></div>
  <div class="field bg-blood-200"></div>
  <div class="field bg-marine-200"></div>
  <div class="field bg-forest-200"></div>

  <div class="field bg-brown-300"></div>
  <div class="field bg-almond-300"></div>
  <div class="field bg-copperfield-300"></div>
  <div class="field bg-olive-300"></div>
  <div class="field bg-grass-300"></div>
  <div class="field bg-mustard-300"></div>
  <div class="field bg-steelblue-300"></div>
  <div class="field bg-blood-300"></div>
  <div class="field bg-marine-300"></div>
  <div class="field bg-forest-300"></div>

  <div class="field bg-brown-400"></div>
  <div class="field bg-almond-400"></div>
  <div class="field bg-copperfield-400"></div>
  <div class="field bg-olive-400"></div>
  <div class="field bg-grass-400"></div>
  <div class="field bg-mustard-400"></div>
  <div class="field bg-steelblue-400"></div>
  <div class="field bg-blood-400"></div>
  <div class="field bg-marine-400"></div>
  <div class="field bg-forest-400"></div>

  <div class="field bg-brown-500"></div>
  <div class="field bg-almond-500"></div>
  <div class="field bg-copperfield-500"></div>
  <div class="field bg-olive-500"></div>
  <div class="field bg-grass-500"></div>
  <div class="field bg-mustard-500"></div>
  <div class="field bg-steelblue-500"></div>
  <div class="field bg-blood-500"></div>
  <div class="field bg-marine-500"></div>
  <div class="field bg-forest-500"></div>

  <div class="field bg-brown-600"></div>
  <div class="field bg-almond-600"></div>
  <div class="field bg-copperfield-600"></div>
  <div class="field bg-olive-600"></div>
  <div class="field bg-grass-600"></div>
  <div class="field bg-mustard-600"></div>
  <div class="field bg-steelblue-600"></div>
  <div class="field bg-blood-600"></div>
  <div class="field bg-marine-600"></div>
  <div class="field bg-forest-600"></div>

  <div class="field bg-brown-700"></div>
  <div class="field bg-almond-700"></div>
  <div class="field bg-copperfield-700"></div>
  <div class="field bg-olive-700"></div>
  <div class="field bg-grass-700"></div>
  <div class="field bg-mustard-700"></div>
  <div class="field bg-steelblue-700"></div>
  <div class="field bg-blood-700"></div>
  <div class="field bg-marine-700"></div>
  <div class="field bg-forest-700"></div>

  <div class="field bg-brown-800"></div>
  <div class="field bg-almond-800"></div>
  <div class="field bg-copperfield-800"></div>
  <div class="field bg-olive-800"></div>
  <div class="field bg-grass-800"></div>
  <div class="field bg-mustard-800"></div>
  <div class="field bg-steelblue-800"></div>
  <div class="field bg-blood-800"></div>
  <div class="field bg-marine-800"></div>
  <div class="field bg-forest-800"></div>

  <div class="field bg-brown-900"></div>
  <div class="field bg-almond-900"></div>
  <div class="field bg-copperfield-900"></div>
  <div class="field bg-olive-900"></div>
  <div class="field bg-grass-900"></div>
  <div class="field bg-mustard-900"></div>
  <div class="field bg-steelblue-900"></div>
  <div class="field bg-blood-900"></div>
  <div class="field bg-marine-900"></div>
  <div class="field bg-forest-900"></div>
</div>