<h1>Meeple</h1>
<p>A tactical game inspired by board games.</p>

<p><a href="/board">Start here</a></p>

<%= if Mix.env() == :dev do %>
  <h3>Development</h3>
  <p><a href="/dashboard">Dashboard</a></p>
  <p><a href="/dev/colors">Color Palette</a></p>
<% end %>