@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .map {
    @apply grid auto-rows-fr bg-gray-50 border-l border-b border-gray-900;
  }

  .field {
    @apply border-t border-r border-gray-900;
    height: 50px;
    width: 500;
  }
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "time time time"
    "map map map"
    "pawns location location";
}

.board-header {
  grid-area: header;
}

.board-time {
  grid-area: time;
}

.board-map {
  grid-area: map;
}

.board-pawns {
  grid-area: pawns;
}

.board-location {
  grid-area: location;
}
