@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* headlines */

  h1 {
    @apply text-4xl font-light mb-6;
  }

  h3 {
    @apply text-2xl font-normal mb-3;
  }
}

@layer components {
  .field {
    @apply bg-gray-50 border-t border-l border-gray-900;
  }
}

[x-cloak] {
  display: none !important;
}

.board {
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "admin admin admin"
    "map map map"
    ". plan ."
    ". inventory ."
    ". xp-pool ."
    ". technology .";
}

@layer utilities {
  .transition-position {
    transition-property: left, right, top, bottom;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
